<!DOCTYPE html>
<html>
<head>
    @model ChatApp.Models.User

    @{
        ViewData["Title"] = "Registration";
    }

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>pChat &mdash; Registration</title>
</head>
<body>

    <!--Navigation Bar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Chat" asp-action="Index">pChat - @ViewData["Title"]</a>
            </div>
        </div>
    </nav>
    <!--Navigation Bar-->
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>Registration</h1>
                    <hr />
                    <form asp-action="index">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Mail" class="control-label">E-mail</label>
                            <input asp-for="Mail" class="form-control" placeholder="Enter Your Email Address" />
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" placeholder="Enter Your Name" />
                            <span asp-validation-for="Name" class="text-danger" ></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" placeholder="Enter Your Password"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreateTime" class="control-label">Create Time</label>
                            <input asp-for="CreateTime" class="form-control" readonly  value="@DateTime.Now" >
                            <span asp-validation-for="CreateTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default btn-primary" />
                        </div>
                    </form>
                    <a asp-controller="Chat" asp-action="Index">Back to Login Page</a>
                </div>
            </div>
            

        </div>
    </div>

    
        
    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
